<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:user="http://yingjie.jd.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://yingjie.jd.com/schema/user
	    http://yingjie.jd.com/schema/user/user.xsd">

    <user:user  id="userBeanTest" userName="zhangsan" age="111" sex="3333"/>

</beans>
