
#set($layout="layout/empty.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>一元抢宝后台</title>
</head>

<frameset rows="80,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="topFrame" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame"/>
    <frameset rows="*" cols="169,*" framespacing="0" frameborder="no" border="0">
        <frame src="leftFrame?module=1" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame"
               title="leftFrame"/>
        <frame src="#" name="mainFrame" id="mainFrame" title="mainFrame"/>
    </frameset>
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>
##
###define($content)
##    <div style="height:300px; width:98%; text-align:center">
##        <a href="/hello">hello, this is a welcome-page</a>
##        <a href="/getUser">Get User</a>
##        <hr />
##    </div>
###end