<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 属性文件读入 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:important.properties</value>
            </list>
        </property>
    </bean>


    <!--主库数据源-->
    <bean id="abstractDataSourcePool" class="com.alibaba.druid.pool.DruidDataSource" abstract="true"  init-method="init" destroy-method="close">
        <property name="driverClassName" value="${treasure.admin.jdbc.driver}"/>
        <property value="15000" name="maxWait"/>
        <property value="true" name="useUnfairLock"/>
        <property value="2" name="initialSize"/>
        <property value="2" name="minIdle"/>
        <property value="20" name="maxActive"/>
        <property name="removeAbandoned" value="false" />
        <property value="60000" name="timeBetweenEvictionRunsMillis"/>
        <property value="180000" name="minEvictableIdleTimeMillis"/>
        <property value="SELECT 'x'" name="validationQuery"/>
        <property value="true" name="testWhileIdle"/>
        <property value="false" name="testOnBorrow"/>
        <property value="false" name="testOnReturn"/>
        <property value="false" name="poolPreparedStatements"/>
        <property value="-1" name="maxPoolPreparedStatementPerConnectionSize"/>
        <property value="stat" name="filters"/>
    </bean>

    <!--主库配置-->
    <bean id="dataSource" parent="abstractDataSourcePool" >
        <property name="url" value="${treasure.admin.jdbc.url}"/>
        <property name="username" value="${treasure.admin.jdbc.username}"/>
        <property name="password" value="${treasure.admin.jdbc.password}"/>
        <property name="name" value="jdtreasure_master"/>
    </bean>

    <!-- 事务管理器的注解解析器 -->
    <tx:annotation-driven />

    <!-- 使用纯JDBC的方式管理数据库事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.jd.ssm.user.impl.UserDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--通过xml配置的方式实现UserManager的注册-->
    <bean id="userManager" class="com.jd.ssm.user.impl.UserManagerImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>